/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tw-animate-css";

@layer base {
  * {
    @apply border-gray-200 outline-lime-500/50;
  }

  html {
    height: 100%;
  }

  body {
    @apply text-gray-900 min-h-dvh bg-gradient-to-br from-slate-50 to-purple-50;
  }
}